<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Free catalogue restaurant for you">
  
  <link rel="icon" href="./favicon.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
  
  <title>kogu Restaurant</title>
  <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"
      rel="stylesheet"
      type="text/css" 
      crossorigin="anonymous"
    />
</head>
<body>
  <a tabindex="0" href="#mainContent" class="btn-skip">To the Main Content</a>
  <header>
    <nav id="nav" class="menu">
      <h1>
        <a href="/" title="Navbar Brand">kogu Restaurant</a>
      </h1>
      <button class="menu-button" title="off canvas button" aria-label="off canvas button">
          <i class="fa fa-times"></i>
          <i class="fa fa-bars"></i>
      </button>
      <ul class="menu-list">
          <li><a href="#/home" title="Link ke halaman home">Home</a></li>
          <li><a href="#/favorite" title="Link ke halaman favorite">Favorite</a></li>
          <li><a href="https://github.com/SyafaatAkbar123" target="_blank" rel="noreferrer" crossorigin="anonymous">About Us</a></li>
      </ul>
    </nav>
  </header>
  <div class="hero">
    <div class="hero-image"></div>
    <div class="hero-description">
    <h2>Let's hang out at Kogu Restaurant!</h2>
    <p>Experience the delectable cuisine, cozy atmosphere, and friendly service at Kogu Restaurant.</p>
    </div>
  </div>

  <main tabindex="0" id="mainContent">


  </main>
  <footer>
    <p>F1316YB262 Copyright © 2024 - kogu Restaurant</p>
  </footer>
</body>
</html>